@model dynamic

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                @foreach (var property in Model.GetType().GetProperties())
                {
                    <dt class="col-sm-3">@property.Name</dt>
                    <dd class="col-sm-9">@property.GetValue(Model)</dd>
                }
            </dl>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
