@{
    ViewData["Title"] = "Strona startowa";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Poczytaj o <a href="https://learn.microsoft.com/aspnet/core">Budowanie aplikacji webowej z asp.net core</a>.</p>
</div>
